.movie__list {
  padding: 0 3rem 3rem 3rem;
}

.list__title {
  font-weight: 400;
}

.container {
    margin-left: 10rem;
    margin-right: 10rem;
    background-color:rgba(255, 255, 255, 0.1);
    height: 100vh;
}

.list__container {
    margin: 4rem 0 0 0;
    display: flex;
    padding: 15px;
    overflow: hidden;
    justify-content: center;
}

.list__container h2 {
    text-align: center;
    padding: 14px 16px;
}

.list__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
